In [1]:
#make a string
a = "samosa pakora"
a

'samosa pakora'

In [3]:
'samosa pakora'

'samosa pakora'

In [4]:
a

'samosa pakora'

In [5]:
len(a)

13

In [6]:
a[13]

IndexError: string index out of range

In [7]:
a[12]

'a'

In [9]:
a[0]

's'

In [17]:
a[0:13]
#last index is exclusive

'samosa pakora'

In [11]:
a[-6:13]

'pakora'

In [16]:
food = "Biryani"
food

'Biryani'

### string methods

In [18]:
food = 'I love noodles, dumplings and malatang'
food

'I love noodles, dumplings and malatang'

In [19]:
#lenght of string
len(food)

38

In [20]:
#UPPERCASE letter
food.upper()

'I LOVE NOODLES, DUMPLINGS AND MALATANG'

In [21]:
#lowercase letters
food.lower()

'i love noodles, dumplings and malatang'

In [22]:
#counting a specific alphabet of a string
name = "Ehsam_Gulvi"
name

'Ehsam_Gulvi'

In [23]:
name.count("s")

1

### - fininding an index number in string

In [24]:
name

'Ehsam_Gulvi'

In [25]:
name.find("G")

6

In [26]:
### - how to split a string
food = "I love noodles, dumplings and malatang"
food

'I love noodles, dumplings and malatang'

In [27]:
food.split(",")

['I love noodles', ' dumplings and malatang']

# Basic data structure in Python
### 1- Tuple
### 2- List
### 3- Dictionaries
### 4- Set

## 1- Tuple
- ordered collection of elements
- enclosed in () round bracket/paranthesis
- different kind of elements can be stored (integer, float, boolean, string)
- once elements are stored you cannnot change them (Unmutateable)

In [1]:
tupl1 = (1, "python", True, 2.5)
tupl1

(1, 'python', True, 2.5)

In [2]:
#type of tupl
type(tupl1)

tuple

### - Indexing in tuple

In [6]:
tupl1[1]

'python'

In [7]:
tupl1[2]

True

In [8]:
tupl1[3]

2.5

In [9]:
tupl1[0]

1

In [11]:
#last element is exclusive
tupl1[0:3]

(1, 'python', True)

In [14]:
#count of elements in tuple
len(tupl1)

4

In [36]:
tup2 = (2, "Ehsam_Gulvi", 3.5, False)
tup2

(2, 'Ehsam_Gulvi', 3.5, False)

In [17]:
#concatinate is a Python's termnilogy for addition or intersection of tuples
tupl1 + tup2

(1, 'python', True, 2.5, 2, 'Emsam_Gulvi', 3.5, False)

In [30]:
#repeat and Concatinate
tupl1*2 + tup2

(1, 'python', True, 2.5, 1, 'python', True, 2.5, 2, 'Emsam_Gulvi', 3.5, False)

In [22]:
tup3 = (10, 15, 23, 50, 100)
tup3

(10, 15, 23, 50, 100)

In [23]:
#maximum
max(tup3)

100

In [25]:
#minimum
min(tup3)

10

In [33]:
#For repetition
tup3*3

(10, 15, 23, 50, 100, 10, 15, 23, 50, 100, 10, 15, 23, 50, 100)

---

## 2- Lists
- ordered collection of elements
- enclosed in square brackets [ ]
- mutateable (you can change the values)

In [37]:
list1 =[2, "Ehsam_Gulvi", 3.5, False]
list1

[2, 'Ehsam_Gulvi', 3.5, False]

In [39]:
#to know the type 
type(list1)

list

In [40]:
#to know the lenght 
len(list1)

4

In [41]:
list1[2]

3.5

In [46]:
list2=[2, 3, "Ehsam_Gulvi", "Python", 200, 340.5, False]
list2

[2, 3, 'Ehsam_Gulvi', 'Python', 200, 340.5, False]

In [47]:
#addition of lists
list1+list2

[2,
 'Ehsam_Gulvi',
 3.5,
 False,
 2,
 3,
 'Ehsam_Gulvi',
 'Python',
 200,
 340.5,
 False]

In [48]:
#to repeat the elements of lists mutiple times
list1*2

[2, 'Ehsam_Gulvi', 3.5, False, 2, 'Ehsam_Gulvi', 3.5, False]

In [60]:
list1

[False, 3.5, 'Ehsam_Gulvi', 2]

In [83]:
#to reverse the order of elements in list
list1.reverse()
list1

[2, 'Ehsam_Gulvi', 3.5, False]

In [94]:
#append (to add something with existing list
list1.append("codanics youtube channel")
list1

[2,
 'Ehsam_Gulvi',
 3.5,
 False,
 'codanics youtube channel',
 'codanics youtube channel',
 'codanics youtube channel',
 'codanics youtube channel',
 'codanics youtube channel',
 'codanics youtube channel',
 'codanics youtube channel',
 'codanics youtube channel',
 'codanics youtube channel']

In [102]:
#list count
list1.count(1)

0

In [107]:
list3 = [20, 30, 35, 40, 15, 11, 50]
list3

[20, 30, 35, 40, 15, 11, 50]

In [108]:
len(list3)

7

In [110]:
#sorting a list
list3.sort()
list3

[11, 15, 20, 30, 35, 40, 50]

In [114]:
list3*2

[11, 15, 20, 30, 35, 40, 50, 11, 15, 20, 30, 35, 40, 50]

In [117]:
#concatinat
lists=list1+list2+list3
lists

[2,
 'Ehsam_Gulvi',
 3.5,
 False,
 'codanics youtube channel',
 'codanics youtube channel',
 'codanics youtube channel',
 'codanics youtube channel',
 'codanics youtube channel',
 'codanics youtube channel',
 'codanics youtube channel',
 'codanics youtube channel',
 'codanics youtube channel',
 2,
 3,
 'Ehsam_Gulvi',
 'Python',
 200,
 340.5,
 False,
 11,
 15,
 20,
 30,
 35,
 40,
 50]

## 3- Dictionaries
- An unordered collection of elements (the order of elements will not effect on the value of variable)
- Key and value
- Braces or curly brakets
- Mutateable

In [122]:
#Food and prices
Food1 = {"Samosa": 30, "Pakora": 100, "Raita":20, "Salad": 50, "Chiken Rolls": 30 }
Food1

{'Samosa': 30, 'Pakora': 100, 'Raita': 20, 'Salad': 50, 'Chiken Rolls': 30}

In [123]:
type(Food1)

dict

In [124]:
#Extract data
keys1= Food1.keys()
keys1

dict_keys(['Samosa', 'Pakora', 'Raita', 'Salad', 'Chiken Rolls'])

In [125]:
values1 = Food1.values()
values1

dict_values([30, 100, 20, 50, 30])

In [126]:
#adding a new element
Food1["Tikki"]=10
Food1

{'Samosa': 30,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chiken Rolls': 30,
 'Tikki': 10}

In [133]:
#Mutate (Update the values)
Food1["Tikki"]=15
Food1

{'Samosa': 30,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chiken Rolls': 30,
 'Tikki': 15}

In [134]:
Food2 = {"Dates": 15, "Chocolates": 200, "Sawaya": 1000}
Food2

{'Dates': 15, 'Chocolates': 200, 'Sawaya': 1000}

In [136]:
#Concatinate
Food1.update(Food2)

In [137]:
Food1

{'Samosa': 30,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chiken Rolls': 30,
 'Tikki': 15,
 'Dates': 15,
 'Chocolates': 200,
 'Sawaya': 1000}

## 4- Set
- Unordered and unindexed
- Curly brakets/braces
- No duplicates

In [162]:
#Boolean operators cannot be printed in sets
s1={1,2, 3,5,4, "Ehsam", "Learning Python", True}
s1

{1, 2, 3, 4, 5, 'Ehsam', 'Learning Python'}

In [163]:
#If the new element already exists then it will only print the previous one
s1.add("Next is R")
s1

{1, 2, 3, 4, 5, 'Ehsam', 'Learning Python', 'Next is R'}

In [159]:
#Remove all the elemnts for the set
#s1.clear()
s1

set()

In [168]:
s2 ={2,4,5, "Gulvi"}
s2

{2, 4, 5, 'Gulvi'}

In [165]:
#Return a shallow copy of a set
s1.copy()
s1

{1, 2, 3, 4, 5, 'Ehsam', 'Learning Python', 'Next is R'}

In [169]:
#Return the difference of two or more sets as a new set
s1.difference(s2)

{1, 3, 'Ehsam', 'Learning Python', 'Next is R'}

In [171]:
s1.difference_update(s2)
s1

{1, 3, 'Ehsam', 'Learning Python', 'Next is R'}

In [176]:
#Remove an element from a set if it is a member. If the element is not a member, do nothing.
s1.discard(s2)
s1

{1, 3, 'Ehsam', 'Learning Python', 'Next is R'}

In [ ]:
s1.intersection

In [ ]:
s1.intersection_update

In [ ]:
s1.isdisjoint

In [ ]:
s1.issubset

In [ ]:
s1.issuperset

In [ ]:
s1.pop

In [ ]:
s1.remove

In [ ]:
s1.symmetric_difference

In [ ]:
s1.symmetric_difference_update

In [ ]:
s1.union

In [ ]:
s1.update

## NumPy
### To access NumPy and its functions import it in your Python code like this:
### - import numpy as np

# #How it looks like?
# >>> a = np.arrange(6)
# >>> a2 = a[np.bewaxis, :]
# >>> a2.np.shape
# (1, 6)

### What is an array?
   #### - An array is a central data sturcture of the Numpy library
   #### - An array is a grid of values and it contains information about the raw data, how to locate and element, and how to interpret on element.
   #### - it has a grid of element that can be indexed in various ways.
   #### - The element are all of the same type, reffered to as the array dtype
   #### - An array can be indexed by a tuple of non-begative integers, by Booleans, by another array, or by integers.

### What is the rank of an array?
   #### - the rank of the array is the number of dimensions.

### What is the shape of an array?
   #### - the sahape of the array is a tuple of integers giving the size of the array along each dimension.
   
## Vector
### - a vector is an array with a single dimension(there's no difference between row and column vectors)

## Matrix
### - a matrix refers to an array with two dimensions.

## How to create an array?

In [200]:
import numpy as np
a = np.array([1,2,3,4,5])
a

array([1, 2, 3, 4, 5])

In [209]:
b = np.ones(3)
b

array([1., 1., 1.])

In [211]:
#create an empty array with 2 elements
d = np.empty(3)
d

array([1., 1., 1.])

In [212]:
#with range of elements
e=np.arange(5)
e

array([0, 1, 2, 3, 4])

In [213]:
#with specific range of elements
f=np.arange(2,15)
f

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [216]:
#continue.
g=np.arange(2,20,4)
g

array([ 2,  6, 10, 14, 18])

In [217]:
#linerly spaced array
h=np.linspace(0,10,num=5)
h

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

In [218]:
#specific data types in array
i=np.ones(5, dtype=np.int8)
i

array([1, 1, 1, 1, 1], dtype=int8)

In [219]:
j=np.ones(3,dtype=np.float64)
j

array([1., 1., 1.])

### 1-D array

In [177]:
import numpy as np
a = np.array([5,5,5,5,5,5,5])
print(a)

[5 5 5 5 5 5 5]

In [178]:
#Example
a = np.array([5,5,5,])
print(a)

print(type(a))

[5 5 5]
<class 'numpy.ndarray'>

In [183]:
#length
len(a)

3

In [184]:
#indexing
a[0]

5

In [185]:
a[0:]

array([5, 5, 5])

## 2-D array:
### -The NumPy and ndarray class is used to represent both matrices an vectors.
### - A matrix refers to an array with two dimensions

## How to create a 2-D arrays

In [220]:
np.zeros((3,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [221]:
np.ones((5,6))

array([[1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.]])

In [222]:
np.empty((3,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [191]:
#List of lists
b=np.array([[5,5,5],[5,5,5],[5,5,5]])
b

array([[5, 5, 5],
       [5, 5, 5],
       [5, 5, 5]])

In [190]:
type(b)

numpy.ndarray

In [192]:
len(b)

3

In [194]:
b[1]

array([5, 5, 5])

In [195]:
b[0: ]

array([[5, 5, 5],
       [5, 5, 5],
       [5, 5, 5]])

## 3-D or higher:
### -For 3-D or higher dimensional array, the term tensor is also commonly used.
### - TensorFlow is a free and open-source software for machine learning and artificial intelligence.

### array attributes:
#### - Dimensions are called axix

In [199]:
# Two dimensional array
c=np.array([[5,5,5],[5,5,5]])
c

#2-axis
#First axis has length = 2
#Second axis has length = 3

array([[5, 5, 5],
       [5, 5, 5]])

### How to create a 3-D array

In [228]:
#making and reshaping a 3D array
c = np.arange(24).reshape(2,3,4)
c

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])