# Python ka chila
## How to use jupyter notebook
## Basics of python
### 1- My first program

In [1]:
#my first program in python
print(2+3)
print("Hello World")
print("We are learing python with Aammar")

5
Hello World
We are learing python with Aammar

### **02- Operators**

In [2]:
print(2+3)
print(6/2)
print(13%2)
print(6//2)
print((2**2)/2*3/3+6-4)

5
3.0
1
3
4.0

*PEMDAS*
*Paranthesis Exponents Multiply Divide Addition Subtraction*
*left to right sequence for M D & A S*

### **03- Strings**

In [3]:
print("Hello World")
print("We are learing python with Aammar")
print('Test for single quotes')
print("test for double quotes")
print(''' test for triple quoutes''')
print("what's up")

Hello World
We are learing python with Aammar
Test for single quotes
test for double quotes
 test for triple quoutes
what's up

### **04- Comments**
the shortcut key to comment is press **cntrl + /**

In [4]:
# for comment out and comment in press cntrl + /

print("How are you") 
print("We are learing python with aammar")

How are you
We are learing python with aammar

### **05- Variables**

In [5]:
# variables: objects containing values
x=5 #numeric or integer variable
print(x)

y="we are learing python with aammar"
print(y)

x=x+10

#types of variables
type(x)
print(type(y))

#print_type_class

#Rules to assign a variable
#1- the variable should contain numbers, letters or underscore
#2- do not start with numbers
#3- spaces are not allowed
#4- do not use keywords used in funtions (break, test, mean, median etc)
#5- short and descriptive
#6- case sensityvity(lowercase, uppercase), lowercase should be used

5
we are learing python with aammar
<class 'str'>

### **06- Input Variables**

In [ ]:
# fruit_basket="Mangoes"
# print(fruit_basket)

# #input function
# fruit_basket=input("which is your favorite fruit?")
# print(fruit_basket)

#3rd stage input funtion
name=input("what is your name? ")
age= input("how old are you? ")
greetings= "Hello"

print(greetings, name, ", YOu are still young")

### **07- Conditional Logics**

In [ ]:
#logical orperators are either "true or false" or "yes or no" or "0 or 1"
#equal to                   ==
#not equal to               !=
#less than                  <
#greater than               >
#less than and equal to     <=
#greater than and equal to  >=

#is 4 equal to 4?
print(4==4)
print(4!=4)
print(4>3)
print(3>6)
print(3<=5)
print(5>=4)

#application of logical operators
hammad_age=4
age_at_school=5
print(hammad_age==age_at_school)

#input function and logicals operator
age_at_school=5
hammad_age=input("HOw old is hammad")
print(type(hammad_age))
print(hammad_age==age_at_school)

### **08- Type Conversion**

In [ ]:
x=10                #integer
y=10.2              #float
z="Hello"           #string

#implicit conversion
x=x*y

print(x, "type of x is:", type(x))


#explicit conversion
age=input("What is your age? ")
#age=int(age)
print(age, type(float(age)))

### **09- if, else and elif**

In [ ]:
hammad_age=1
required_age_at_school=5
#question: can hamad go to school

if hammad_age==required_age_at_school:
    print("Hamad can join the school")
elif hammad_age>required_age_at_school: 
    print("Hammad should join higher secondary school")
else:
    print("hammad can not go to school")

### **10- Functions**

In [ ]:
print("we are learning with aamar")
print("we are learning with aamar")
print("we are learning with aamar")
print("we are learning with aamar")
print("we are learning with aamar")
print("we are learning with aamar")

#definnig a function: first of all we are writing "def" to define a function
#1

def print_codanics():
    print("we are learning with aamar")
    print("we are learning with aamar")
    print("we are learning with aamar")

print_codanics()

#2
def print_codanics():
    text="we are learning with aamar in Codanics youtube channel"
    print(text)
    print(text)
    print(text)

print_codanics()

#3
def print_codanics(text):
    print(text)
    print(text)
    print(text)

# print_codanics("we are learning python")

# #defining a function with if, elif, and else statements
def school_calculator(age):
    if age==5:
        print("Hamad can join the school")
    elif age>5:
        print("Hamad should go to higher school")
    else:
        print("Hamad is still a baby")
school_calculator(2)

#defining a function of future
def future_age(age):
    new_age=age+20
    return new_age

future_predicted_age=future_age(5)
print(future_predicted_age)

### **11- Loops**

In [ ]:
# while and for loops
# while loops

x=0
while(x<5):
    print(x)
#     x=x+1
#for lopp
for x in range(5,11):
    print(x)

#array
days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" ]

for d in days:
    if (d=="Fri"): break
    if (d=="Fri"): continue
    print(d)

### **12- Import Libaries**

In [ ]:
#if you want to print the value of pi
import math
print("the value of pi is ", math.pi)

import statistics

x=[150,250,350, 450]
print(statistics.mean(x))
print(statistics.NormalDist(x))

#IMportant libraries: numpy, pandas

### **13- Troubleshooting**

In [ ]:
print("we are learning python wiht aammar")
#Sytax error: the error in output is syntax error which referes to any comma

# runtime error is a mathemitical error